<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/admin/addbook">Add book</a>
    <a href="/admin/logs">View Logs</a>
    <a href="/admin/manageRequest">Manage Requests</a>
    <a href="/admin/viewBalance">View Balance</a>
    <a href="/admin/addPaper">Add Paper</a>




    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="./getUserInfo.js"></script>
    
</body>
</html>