<nav>
    <h3 class="banner">Library Management System</h3>
    <div class="items ">
        <a href="/admin/addbook">Add book</a>
        <a href="/admin/logs">View Logs</a>
        <a href="/admin/manageRequest">Manage Requests</a>
        <a href="/admin/viewBalance">View Balance</a>
        <a href="/admin/addPaper">Add Paper</a>    
    </div>
</nav>