<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body class="splash-screen">
    <h1 class="welcome-text">Welcome to Library Management System</h1>

    <form class="login-form" >
        <label>Your Email address</label>
        <input class="form-child"  type="email" id="email-field">
        <label>Your Password</label>
        <input class="form-child"  type="password" id="password-field">
        <button  class="form-child btn btn-success" type="submit" id="authenticate">Login</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>

        $('#authenticate').on('click', (event)=>{
            event.preventDefault()
            var email = $('#email-field').val()
            var password = $('#password-field').val()
            $.ajax({
                type:"POST",
                url: "/auth/login/",
                data: {"email":email, "password":password},
            }).done((res)=>{
                if(typeof res['redirect'] == 'string')
                    window.location=res['redirect']
                localStorage.setItem('userData', JSON.stringify(res['userData']))
                }).fail((err)=>{console.log(err)})
        })


    </script>
</body>
</html>