#user-info{
    bottom:0;
    right:0;
    position: fixed;
    width:30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

button{
    margin: 10px;
}
.items{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;  
    margin-top: 30vh;  
}

.menu-button{
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: #091524;
    
}

.filter-box{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.welcome-text{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bolder;
    font-style: italic;
}
.login-form{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-child{
    margin: 10px;
    border-radius: 10px;
}
nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #091524;
}
.banner{
    font-size: 48px;
}
a{
    text-decoration: none;
    font-size: x-large;
    color:white;
}
.splash-screen{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.left-split{
    background-color: #2ebfbe;
    width:140%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-split{
    height: 100%;
    display: flex;
    align-items: center;
}
